/* Basic Style */
ul {
    margin:0;
    padding: 0px;
}
li {
    list-style:none;
}

h3 {
    margin: 0;
}

input, button{
    outline:none;
}

/* Buttons */
.button {
    background: none;
    border: 0px;
    color: #888;
    font-size: 15px;
    width: 60px;
    font-family: Lato, sans-serif;
    cursor: pointer;
}
.button:hover {
    color: #3a3A3a;
}

.button__delete img {
    height: 2em;
    transform: rotateZ(45deg);
    transition: transform 200ms ease-in;
}
.button__delete img:hover {
    transform: rotateZ(0);
}

/* Main page styles*/
.body {
    background-color: #f8f8f8;
    color: #333;
    font-family: Lato, sans-serif;
}

.main {
    display: block;
    width: 500px;
}

.main__wrapper_center {
    margin: 0 auto 0;
}

/*Header styles*/
.header {
    width: 500px;
    margin: 0 auto;
    display: block;
    text-align: right;
}

.header__img {
    width: 100%;
}

.header__more-inf {
    font-family: fantasy, cursive;
}

@media (max-width:768px) {
  .header { 
    text-align: center;
  }
}

/* Heading */
.title {
    display: block;
    padding: 30px 0 10px;
    border-bottom: 2px solid #333;
    font-size: 15px;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
}

/* Task list */
.task__wrapper {
    display: flex;
    padding: 20px 0 0;
}

.task__wrapper_row {
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eee;
    padding: 20px 0;
}

.task__checkbox {
    margin: 0 10px;
}

.task__text {
    display: inline-block;
    flex-grow: 1;
    padding-left: 10px;
    font-size: 18px;
}

.task__edit {
    margin: 0;
    height: 21px;
    padding: 0 9px;
    border: 1px solid #dDd;
    background: #FFF;
    border-radius: 6px;
    font-family: Lato, sans-serif;
    color: #888;
}
.task__edit:focus {
    color: #333;
}

/* Completed */
.completed-tasks .task__text {
    text-decoration: line-through;
    color: #888;
}

/* Edit Task */
.task__wrapper_row .task__edit {
    display:none;
}

.editMode .task__edit {
    display:inline-block;
    width:224px;
}

.editMode label {
    display:none;
}